/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

header {
  background-color: #ffc1c1;
  color: #fff;
  padding: 20px;
}

h1 {
  margin: 0;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.productos {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.producto {
  background-color: #fde2e2;
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.producto:hover {
  background-color: #ffb6b6;
}

.producto img,
.imagen-carrito {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.producto:hover img,
.imagen-carrito:hover {
  transform: scale(1.05);
}


.carrito {
  flex: 0.4;
  background-color: #f9f5db;
  padding: 20px;
  transition: background-color 0.3s ease;
}

.carrito:hover {
  background-color: #ffe89e;
}

.carrito h2 {
  margin-top: 0;
}

#lista-carrito {
  list-style: none;
  padding: 0;
}

#lista-carrito li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  transition: opacity 0.3s ease;
}

#lista-carrito li:hover {
  opacity: 0.8;
}

#total {
  font-weight: bold;
  margin-top: 20px;
  transition: color 0.3s ease;
}

#btn-vaciar {
  background-color: #ffc1c1;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btn-vaciar:hover {
  background-color: #ff7777;
}

/* Estilos específicos */
.btn-agregar {
  background-color: #ffb6b6;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-agregar:hover {
  background-color: #ff7777;
}
